# deny HTTP access to this directory - it's just for commandline (for now)
<FilesMatch ".">
order allow,deny
deny from all
</FilesMatch>

<FilesMatch "batch_report.php">
order allow,deny
allow from all
</FilesMatch>

<FilesMatch "batch.log">
order allow,deny
allow from all
</FilesMatch>
